.navbar {
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
  border-bottom: 1px solid #ccc; /* Light gray border */
  opacity: .8;
}


.this-text {
  font-family: 'Times New Roman', Times, serif; /* Fallback to sans-serif */
}


